.drop{
    display: inline-block;
}

.drop button{
    background-color: aliceblue;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 2px 2px 5px;
}

.drop:hover button{
    transform: scale(1.3);
    background-color: rgb(193, 217, 236);  /*228, 239, 248*/
}

.drop a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.drop .conteudo{
    background-color: rgb(231, 230, 230);
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px;
    display: none;
}

.drop:hover .conteudo{
    display: block;
}

.drop a:hover{
    background-color: rgb(172, 170, 170);
}