body{
    margin: 0px;
}

main{
    margin-right: 20px;
    margin-left: 20px;
}

h1{
    text-align: center;
}

.nav ul{
    list-style-type: none;
    background-color: rgb(117, 117, 223);  /*13, 13, 97   117, 117, 223*/
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.nav a:hover{
    background-color: rgb(83, 83, 180);
}

.nav li{
    float: left;
}