body{
    background-color: aliceblue;
    margin: 0;
}

.tabela-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    margin-bottom: 0;
}

.tabela{
    border: 1px solid black;
    width: 500px;
    background-color: black;
}

.nome{
    width: 100px;
    border: 1px solid black;
    background-color: lightblue;
}

.conteudo{
    width: 100px;
    border: 1px solid black;
    background-color: white;
}

.conteudo:nth-child(even){
    background-color: rgb(214, 212, 212);
}

.conteudo:hover{
    background-color: rgb(14, 148, 148);
}